.stopwatch {
  width: 50%;
  margin: 0 auto 20px;
  text-align: center;
}

.timer {
  font-size: 3em;
}

.btn {
  background-color: #fff;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px #222121;
  outline:none;
}
.btn:active {
  box-shadow: 0 3px #222121;
  transform: translateY(3px);
}

.laps-title {
  font-size: 2em;
}

.laps {
  font-size: 1.5em;
}
